<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LabAss3.Properties.Settings.CustomerDBConnectionString"
            connectionString="Data Source=LAPTOP-H65MBD8T;Initial Catalog=CustomerDB;User ID=sa;Password=wht20010712;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>